header{
    display: flex;
    align-items: center;
}

#position {
    display: flex;
}

.navposition{
display: flex;
justify-content: space-around;
align-items: center;

background-color: lightblue;

font-family: 'Times New Roman', Times, serif;

color: black;
 }

