/*Index*/

body {
    background-color: rgb(185, 221, 233);
}

#position {
    display: flex;
}


header {
    display: flex;
    text-align: center;
}



main {
    padding: 50px;
}




footer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}


#icon {
    width: 65px;
    height: 65px;
}

.navposition {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: lightblue;

    font-family: 'Times New Roman', Times, serif;

    color: black;
}